<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>Controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleController</servlet-name>
        <servlet-class>Controller.VehicleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentController</servlet-name>
        <servlet-class>Controller.RentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleController</servlet-name>
        <url-pattern>/VehicleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentController</servlet-name>
        <url-pattern>/RentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
